body {
  background: #333;
  color: #D0CDD7;
}
.header__wrapper {
  background-color: #0B3948;
  color: #D0CDD7;
  padding: 30px 0;
}
.symptoms {
  color: #D0CDD7;
  padding: 30px 0;
}
.pain-tracker {
  color: #416165;
  padding: 30px 0;
}
.pain-tracker table {
  color: #FFF;
  width: 50%;
}
.pain-tracker table tr {
  padding: 10px 0;
}
.pain-tracker table th,
.pain-tracker table td {
  padding: 0 20px;
}
.pain-tracker table .table-0 {
  background: #3DEBFE;
}
.pain-tracker table .table-1 {
  background: #10B98B;
}
.pain-tracker table .table-2 {
  background: #25D261;
}
.pain-tracker table .table-3 {
  background: #68EA38;
}
.pain-tracker table .table-4 {
  background: #B1EE2D;
  color: #222;
}
.pain-tracker table .table-5 {
  background: #FEC600;
  color: #222;
}
.pain-tracker table .table-6 {
  background: #FEA200;
  color: #222;
}
.pain-tracker table .table-7 {
  background: #FF7400;
}
.pain-tracker table .table-8 {
  background: #FF3D18;
}
.pain-tracker table .table-9 {
  background: #DA0000;
}
.pain-tracker table .table-10 {
  background: #940000;
}
