.main-content {
    &__right {
        border: 1px solid #999;
        border-radius: 20px;
        padding: 40px 20px;
    }
}

.bo-logo {
    height: 145px;
    width: 270px;
    background: blue;
    border-radius: 10px;
    margin-right: 20px;
}

.invoice {
    &__header {
        display: flex;
        flex-direction: row;
        line-height: 1;

        b {
            margin-right: 30px;
        }
    }

    &__number {
        text-align: right;
        font-size: 20px;
    }
}