<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css" />
        <title>To Do</title>
    </head>
    <body>
        <div id="ToDoApp">
            <div class="container">
                <form class="to-do-list" v-on:reset="resetFields" >
                    <div class="title-bar">
                        <h2 ID="Title" class="title">{{ title }}</h2>
                        <div class="title-edit" ID="TitleEdit">
                            <label class="title-input-label" for="TitleInput">Title: </label>
                            <input class="title-input" ID="TitleInput" type="text" placeholder="Title" v-model="inputTitle" />
                            <button class="btn btn-link" type="button" @click="submitTitle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                                </svg>
                            </button>
                        </div>
                        <button class="btn btn-secondary edit-button" type="button" @click="showEdit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="list-body">
                        <div class="list-new" ID="ListNew">
                            <label for="ListNewInput">New To-Do</label>
                            <input class="list-new-input" ID="ListNewInput" type="text" placeholder="New To-Do" v-model="NewToDo" />
                            <button type="button" class="btn btn-secondary" ID="ListNewAddBtn" @click.prevent="SubmitNew">Submit</button>
                        </div>
                        <ul class="list-added" ID="ListAdded">
                            <div class="row" v-for="item in toDoBody">
                                <div class="col-1">
                                    {{ item.done }}
                                </div>
                                <div class="col-11">
                                    {{ item.text }}
                                </div>
                            </div>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src="to-do-app.js" defer></script>
    </body>
</html>